extends layout

block content
    section.main.py-5
     .container.my-auto.d-flex.justify-content-between
        div.py-5.px-5.my-5.w-50
          h6
            em Are you hungry?
          h1 Don&apos;t wait !
          a.btn.btn-primary(href='#' role='button') Order Now
        div.p-2.w-100
          img.w-75.float-right(src='./images/pizza.png' alt='pizza picture')

    
