extends layout

block content
    section.main.py-5
     .container.d-flex.justify-content-between
        div.py-5.my-auto.w-50
          h6
            em Are you hungry?
          h1.pb-3 Don&apos;t wait!
          a.btn.btn-primary(href='#' role='button') Order Now
        div.py-5.w-100.my-auto
          img.w-75.float-right(src='./images/pizza.png' alt='pizza picture')
    
    section.mx-auto.py-5#pizza
    h2.mb-4#shadow.p-1 Assorted Menu
    figure.figure.link.py-4
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.image1#thumbnail(src='./images/veg.png' alt='veg pizza picture.')
      h4.text.py-1 Veggie Lovers
      </a>
    figure.figure.link.px-2.py-4
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.image2#thumbnail(src='./images/chicken.png' alt='chicken pizza picture.')
      h4.text.py-1 Chicken Lovers
      </a>
    figure.figure.link.px-1.py-4
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.image3#thumbnail(src='./images/meat.jpg' alt='meat pizza picture.')
      h4.text.py-1 Meat Lovers
      </a>
    section.mx-auto.py-4
    h2.mb-4#shadow.p-1 Popular Items
    figure.figure.py-3
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img1#thumbnail(src='./images/cheese-pizza.jpg' alt='cheese pizza picture.')
      h4.text.py-1 Cheese Pizza
      </a>
    figure.figure.px-2
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img2#thumbnail(src='./images/tropical-veg-pizza.png' alt='veg pizza picture.')
      h4.text.py-1 Tropical Veg Pizza
      </a>
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img3#thumbnail(src='./images/barbecue-chicken-pizza.jpg' alt='barbecue chicken pizza picture.')
      h4.text.py-1 Barbecue Chicken Pizza
      </a>
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/meat-supreme.jpg' alt='meat pizza picture.')
      h4.text.py-1 Meat Supreme
      </a>
