doctype html
html
  include includes/head
  body
    include includes/header

    .container
      block content

    include includes/footer
    include includes/foot
    section.main.py-5
     .container.my-auto.d-flex.justify-content-between
        div.py-5.px-5.my-5.w-50
          h6
            em Are you hungry?
          h1 Don&apos;t wait !
          a.btn.btn-primary(href='#' role='button') Order Now
        div.p-2.w-100
          img.img-fluid.w-75.float-right.rounded(src='./images/pizza.png' alt='pizza picture')
    