extends ../layout

block content
  section.py-5
    h2.mb-4#shadow.p-1 Veggie Lovers
    figure.figure.py-3
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img1#thumbnail(src='./images/veg-pizza/cheese-pizza.jpg' alt='cheese pizza picture.')
      h5.text.py-1 Cheese Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-2
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img2#thumbnail(src='./images/veg-pizza/veg-pizza1.jpg' alt='veg pizza picture.')
      h4.text.py-1 Veg Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img3#thumbnail(src='./images/veg-pizza/veg-pizza2.jpg' alt='veg pizza picture.')
      h4.text.py-1  Veg Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/veg-pizza/veg-pizza3.jpg' alt='veg pizza picture.')
      h4.text.py-1  Veg Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/veg-pizza/veg-pizza4.png' alt='veg pizza picture.')
      h4.text.py-1  Veg Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/veg-pizza/veg-pizza5.png' alt='veg pizza picture.')
      h4.text.py-1  Veg Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/veg-pizza/veg-pizza6.jpg' alt='veg pizza picture.')
      h4.text.py-1  Veg Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/veg-pizza/veg-pizza7.png' alt='veg pizza picture.')
      h4.text.py-1  Veg Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 

  section.py-5#Chicken-Lovers
    h2.mb-4#shadow.p-1.my-5 Chicken Lovers
    figure.figure.py-3
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img1#thumbnail(src='./images/chicken-pizza/barbecue-chicken-pizza.jpg' alt='chicken pizza picture.')
      h4.text.py-1 Barbecue chicken Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-2
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img2#thumbnail(src='./images/chicken-pizza/BBQ-Cilantro-Chicken-Pizza.jpg' alt='chicken pizza picture.')
      h4.text.py-1 Cilantro Chicken Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img3#thumbnail(src='./images/chicken-pizza/spicy-chicken-pizza.jpg' alt='chicken pizza picture.')
      h4.text.py-1  Spicy Chicken Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/chicken-pizza/chicken-pizza.jpg' alt='chicken pizza picture.')
      h4.text.py-1 Chicken Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/chicken-pizza/garlic-chicken-pizza.jpg' alt='chicken pizza picture.')
      h4.text.py-1 Garlic Chicken Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/chicken-pizza/grilled-butter-chicken-pizza.jpeg' alt='chicken pizza picture.')
      h4.text.py-1   Butter Chicken Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/chicken-pizza/grilled-chicken-pizza.jpg' alt='chicken pizza picture.')
      h4.text.py-1  Grilled Chicken Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/chicken-pizza/sweet-chilli-chicken-pizza.jpg' alt='chicken pizza picture.')
      h4.text.py-1  Chilli Chicken Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 

  section.py-5#Meat-Lovers
    h2.mb-4#shadow.p-1.my-5 Meat Lovers
    figure.figure.py-3
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img1#thumbnail(src='./images/Meat-Pizza/meat-pizza1.jpg' alt='cheese pizza picture.')
      h4.text.py-1 Meat Pizza 
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-2
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img2#thumbnail(src='./images/Meat-Pizza/meat-pizza2.jpg' alt='veg pizza picture.')
      h4.text.py-1 Meat Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img3#thumbnail(src='./images/Meat-Pizza/meat-pizza3.jpg' alt='barbecue chicken pizza picture.')
      h4.text.py-1  Meat Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Meat-Pizza/meat-pizza4.png' alt='meat pizza picture.')
      h4.text.py-1  Meat Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Meat-Pizza/meat-pizza5.jpg' alt='meat pizza picture.')
      h4.text.py-1 Meat Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Meat-Pizza/meat-pizza6.jpg' alt='meat pizza picture.')
      h4.text.py-1  Meat Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Meat-Pizza/meat-pizza7.jpg' alt='meat pizza picture.')
      h4.text.py-1  Meat Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Meat-Pizza/meat-pizza8.jpg' alt='meat pizza picture.')
      h4.text.py-1  Meat Pizza
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $15
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
  
  section.py-5#Sides
    h2.mb-4#shadow.p-1.my-5 Sides
    figure.figure.py-3
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img1#thumbnail(src='./images/Sides/baked-chicken-wings.jpg' alt='baked chicken wings picture.')
      h4.text.py-1 Baked Chicken Wings
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-2
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img2#thumbnail(src='./images/Sides/crispy-chicken-wings.jpg' alt='crispy chicken wings picture.')
      h4.text.py-1 Crispy Chicken Wings
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img3#thumbnail(src='./images/Sides/glazed-chicken-wings.jpg' alt='glazed chicken wings picture.')
      h4.text.py-1 Glazed Chicken Wings
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Sides/smoked-chicken-wings.jpg' alt='smoked chicken wings picture.')
      h4.text.py-1  Smoked Chicken Wings
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    

  section.py-5#Pasta
    h2.mb-4#shadow.p-1.my-5 Pasta
    figure.figure.py-3
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img1#thumbnail(src='./images/Pasta/Mac-and-Cheese.jpg' alt='pasta picture.')
      h4.text.py-1 Creamy Mac and Cheese
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-2
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img2#thumbnail(src='./images/Pasta/Pesto-Pasta.jpg' alt='pasta picture.')
      h4.text.py-1 Pesto Pasta
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img3#thumbnail(src='./images/Pasta/Fettuccine-Alfredo.jpg' alt='pasta picture.')
      h4.text.py-1  Fettuccine-Alfredo
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Pasta/Creamy-Spinach-Tomato-Pasta.jpg' alt='pasta picture.')
      h4.text.py-1  Spinach Tomato Pasta
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $10
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 

  section.py-5#Beverages
    h2.mb-4#shadow.p-1.my-5 Beverages
    figure.figure.py-3
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img1#thumbnail(src='./images/Beverages/coke.jpg' alt='coke picture.')
      h4.text.py-1 Coke
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $2
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-2
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img2#thumbnail(src='./images/Beverages/diet-coke.jpg' alt='diet-coke picture.')
      h4.text.py-1 Diet Coke
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $2
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img3#thumbnail(src='./images/Beverages/canada-dry.jpg' alt='canada-dry picture.')
      h4.text.py-1 Canada Dry  
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $2
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Beverages/fanta.jpg' alt='fanta picture.')
      h4.text.py-1 Fanta
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $2
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 

  section.py-5#Desserts
    h2.mb-4#shadow.p-1.my-5 Desserts
    figure.figure.py-3
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img1#thumbnail(src='./images/Desserts/black-forest.jpg' alt='Black forest cake picture.')
      h4.text.py-1 Black Forest
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $5
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-2
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img2#thumbnail(src='./images/Desserts/fudge-icecream.jpg' alt='icecream picture.')
      h4.text.py-1 Fudge Icecream
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $5
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img3#thumbnail(src='./images/Desserts/Oreo-Chunk-Cookies.jpg' alt='Cookies picture.')
      h4.text.py-1 Oreo Chunk Cookies
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $5
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    figure.figure.px-1
      <a href="#"> 
      img.figure-img.img-fluid.rounded.img-thumbnail.img4#thumbnail(src='./images/Desserts/summer-berry-delight.jpg' alt='berry cake picture.')
      h4.text.py-1 Summer Berry Delight
      </a>
      .flex.items-center.justify-center
        span.price.ml-5 $5
        a.add-to-cart.px-4.ml-5(href="#" type='button') Add 
    